<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
</head>
<body ng-app="tjingApp">
  <header>
    <nav>
      <div class="container" ng-controller="NavbarController">
        <div class="navbar-header">
          <a class ="navbar-brand" href="/">Tjing! [alpha]</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#items">Prylar</a></li>
          <li><a href="#interactions">Aktiva lån</a></li>
          <li><a href="#pools">Grupper</a></li>
          <li ng-show="false"><a href="#requests">Förfrågningar</a></li>
          
            <li>
                <a href="#profile">{{currentUser.firstName}}</a>
            </li>
            <li>
              <img ng-src="{{currentUser.connection[0].imageurl}}">
            </li>
          
          <li>
            <a href="/signout">Logga ut</a>
          </li>
        </ul>
        <form ng-submit="search()">
          <input type="text" ng-model="searchStr">
          <input type="submit" class="glyphicons glyphicons-search" value="Sök">
        </form>
      </div>
    </nav>
  </header>

  <div id="main">
    <div ng-view>
      <!-- Views go here -->
    </div>
  </div>

  <div ng-controller="FeedController">
    <h1>Notification feed</h1>
    <ul>
      <div ng-repeat="feed in feedItems"> 
        <li ng-switch="feed.type">
          <div ng-switch-when="INTERACTION">
            <tjing-interaction interaction="feed.interaction"></tjing-interaction>
          </div>
          <div ng-switch-when="ITEMREQUEST">
            <tjing-itemrequest itemrequest="feed.itemrequest"></tjing-itemrequest>
          </div>
          <div ng-switch-default>
            {{feed.message}}
          </div>
        </li>
      </div>
    </ul>
  </div>
  
  <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="./bower_components/angular-route/angular-route.min.js"></script>

  <!--     <script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script> -->
  <script type="text/javascript" src="./app/app.js"></script>
  <script type="text/javascript" src="./app/controllers.js"></script>
  <script type="text/javascript" src="./app/services.js"></script>
  <script type="text/javascript" src="./app/directives.js"></script>
</body>
</html>