<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
</head>
<body ng-app="tjingApp">
  <div ng-controller="UserController">
    <h1>Welcome, {{currentUser.firstName}}!</h1>
    <img ng-src="{{profilePicUrl}}">
  </div>
  <div ng-controller="FeedController">
    <h1>Notification feed</h1>
    <ul>
      <div ng-repeat="feed in feedItems"> 
        <li ng-show="feed.notificationType==='INTERACTION'">
          Hey, {{feed.target.firstName}}, you have a new {{feed.notificationType}} notification. It reads: "{{feed.message}}". Do something about that maybe?
          <button ng-click="delete(feed)">I get it!</button>
      </li>
      <li ng-show="feed.notificationType==='MEMBERSHIP'">
        <!--TODO --> 
      </li>
      </div>
    </ul>
  </div>
  <div ng-controller="ItemController">
    <h1>Available items</h1>
    <ul>
      <li ng-repeat="item in items">
        {{item.owner.firstName}} {{item.title}}
        <button type="button" title="Request" ng-click="requestItem(item)">Request
        </button>
      </li>
    </ul>
    <hr/>
    <h1>My items</h1> 
    <div ng-hide="owneditems && owneditems.length >0">
      You don't own any items. Add an item!
    </div>
    <ul>
      <li ng-repeat="item in owneditems" >
        {{item.title}} 
        <button type="button" title="Delete" ng-click="deleteItem(item)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <div ng-show="!item.shares[0]">This item isn't shared with anyone. Share it to a pool!</div>
        <ul ng-show="item.shares[0]">
          Shared with 
          <li ng-repeat="share in item.shares">
            {{share.pool.title}} 
            <button ng-click="unshareItem(share)">Unshare</button>
          </li>
        </ul>
        <div ng-show="item.activeInteraction">Borrowed by {{item.activeInteraction.borrower.firstName}} on {{item.activeInteraction.statusHandedOver | date}}</div>
        <form role="form" ng-submit="shareItem(item, poolToShareTo)">
          <button type="submit" ng-disabled="!poolToShareTo">share to</button> 
          <select ng-options="pool.title for pool in mypools" ng-model ="poolToShareTo" >
            <option value="" selected>pool</option>
          </select>
        </form> 
      </li>
    </ul>     
    <hr />
    <h1>Add item</h1>
    <form role="form" ng-submit="addItem(newItem)">
        <input type="text" ng-model="newItem" placeholder="Enter item title.." required/>
        <span>
          <button type="submit" ng-disabled="!newItem" title="Add">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </span>
    </form>
    <hr />
    <h1>My borrowed items</h1>
    <div ng-hide="borroweditems && borroweditems.length > 0">
      You don't hold any borrowed items.
    </div>
    <ul>
      <li ng-repeat="item in borroweditems">
        <div>
          {{item.title}}, borrowed from {{item.owner.firstName}} on {{item.activeInteraction.statusHandedOver | date}}
        </div>
      </li>
    </li>
  </ul>
  <hr />

  <div ng-controller="PoolController">
    <h1>All pools</h1>
    <div ng-hide="allpools && allpools.length > 0">
      No pools exist yet. Add a pool!
    </div>
    <ul>
      <li ng-repeat="pool in allpools">
        {{pool.title}} ({{pool.privacy}}<div ng-hide="pool.privacy == 'OPEN'">, requires approval from {{pool.approval}}</div>)
        <button type="button" ng-click="joinPool(pool)">Join</button>
      </li>
    </ul>
    <hr />
    <h1>My pools</h1>
    <div ng-hide="mypools && mypools.length >0">
      You are not a member of any pools. Join a pool!
    </div>
    <ul>
      <li ng-repeat="pool in mypools">
        {{pool.title}}
        <button type="button" ng-click="leavePool(pool)">Leave</button>
      </li>
    </ul>
    <hr/>
    <h1>Create pool</h1>
    <form role="form" ng-submit="createPool(newPool)">
      <input type="text" ng-model="newPool.title" placeholder="Enter pool name.." required/>
      <button type="submit" ng-disabled="!newPool.title" title="Add">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </form>
  </div>
  <hr />
  <div ng-controller="InteractionController">
    <h1>All interactions</h1>
    <div ng-repeat="interaction in allinteractions">
      <label>
        {{interaction.borrower.firstName}} wants to borrow {{interaction.item.owner.firstName}} {{interaction.item.title}}
      </label>
    </div>
    <hr />

    <h1>Outgoing requests</h1>
    <ul>
    <li ng-repeat="request in outgoingrequests">
        You asked {{request.item.owner.firstName}} for his {{request.item.title}} 
        <div ng-show="request.statusAccepted">(Accepted on {{request.statusAccepted | date}})
        <button  ng-hide="request.statusHandedOver" ng-click="confirmHandover(request)">
          Confirm handover
        </button>
        <div ng-show="request.statusHandedOver">(Handed over on {{request.statusHandedOver | date}})</div>
        </div>
    </li>
    </ul>
    <hr />
    <h1>Incoming requests</h1>
    <ul>
    <li ng-repeat="request in incomingrequests">
      
        {{request.borrower.firstName}}
        
         wants to borrow your {{request.item.title}}
        <div ng-hide="request.statusAccepted">
        <button ng-disabled="request.statusAccepted" ng-click="acceptRequest(request)">Accept</button>
        <button ng-disabled="request.statusAccepted" ng-click="denyRequest(request)">Deny</button>
        </div>
        <div ng-show="request.statusAccepted">
          (Accepted on {{request.statusAccepted | date}})
        </div>
        <div ng-show="request.statusHandedOver">
          (Handed over on {{request.statusHandedOver | date}})
          <button ng-disabled="request.statusReturned" ng-click="confirmReturn(request)">Confirm return</button>
        </div>
      
    </li>
    </ul>
    <hr />
  </div>
  <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
  <!--     <script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script> -->
  <script type="text/javascript" src="./app/app.js"></script>
  <script type="text/javascript" src="./app/controllers.js"></script>
  <script type="text/javascript" src="./app/services.js"></script>
</body>
</html>