<div ng-switch="notification.type">
  <span class="glyphicon glyphicon-exclamation-sign" ng-hide="notification.read"></span>
  <span ng-switch-when="INTERACTION">
    <a href="#interaction/{{notification.interaction.id}}" ng-switch="notification.event">
      <span ng-switch-when="INT_RET">
        {{notification.interaction.item.owner.firstName}} bekräftade återlämning av {{notification.interaction.item.title}}.
      </span>
      
      <span ng-switch-when="INT_HAND">
        {{notification.interaction.borrower.firstName}} bekräftade överlämning av {{notification.interaction.item.title}}.
      </span>
      
      <span ng-switch-when="INT_ACCEPT">
        {{notification.interaction.item.owner.firstName}} accepterade din förfrågan att låna {{notification.interaction.item.title}}.
      </span>

      <span ng-switch-when="INT_REQUEST">
        {{notification.interaction.borrower.firstName}} vill låna {{notification.interaction.item.title}}.
      </span>
    </a>
  </span>
  <span ng-switch-when="ITEMREQUEST">
    <tjing-itemrequest itemrequest="feedItem.itemrequest"></tjing-itemrequest>
  </span>

  <span ng-switch-when="MESSAGE">
    <a href="#/interaction/{{notification.message.interaction.id}}">
    Nytt meddelande från {{notification.message.author.firstName}}.
    </a>
  </span>



  <span ng-switch-default>
    {{notification.type}}
  </span>
</div>