<div>
	<tjing-user user="currentInteraction.borrower"></tjing-user>
	vill låna  
	<tjing-item item="currentInteraction.item"></tjing-item>
	<ul>
		<li ng-repeat="message in currentInteraction.conversation">
			<tjing-message message="message" owner="isOwner"></tjing-message>
		</li>
	</ul>

	<div ng-show="isOwner">
		<div ng-hide="currentInteraction.statusAccepted">
	    	<button ng-disabled="currentInteraction.statusAccepted" ng-click="acceptRequest()">Accept</button>
	    	<button ng-disabled="currentInteraction.statusAccepted" ng-click="denyRequest()">Deny</button>
	    </div>
	    <div ng-show="currentInteraction.statusAccepted">
	      (Accepterades {{currentInteraction.statusAccepted | date}})
	    </div>
	    <div ng-show="currentInteraction.statusHandedOver">
	      (Överlämnad {{currentInteraction.statusHandedOver | date}})
	      <button ng-disabled="currentInteraction.statusReturned" ng-click="confirmReturn()">Confirm return</button>
	    </div>
	</div>

	<div ng-show="!isOwner">
		<div ng-show="currentInteraction.statusAccepted">(Accepted on {{currentInteraction.statusAccepted | date}})
          <button  ng-hide="currentInteraction.statusHandedOver" ng-click="confirmHandover()">
            Confirm handover
          </button>
          <div ng-show="currentInteraction.statusHandedOver">(Handed over on {{currentInteraction.statusHandedOver | date}})</div>
        </div>
	</div>

	<form ng-submit="send()">
<input type="text" ng-model="text" placeholder="Skriv ett meddelande..">
<input type="submit" value="Skicka"> 
	</form>
</div>