<div>
  <h1>Lånat</h1>
  <ul>
    <li ng-repeat="interaction in outgoingrequests">
      <tjing-interaction interaction="interaction" user="currentUser"></tjing-interaction>
      <button ng-show="interaction.statusAccepted && !interaction.statusHandedOver" ng-click="confirmHandover(interaction)">
        Bekräfta överlämning
      </button>
    </li>
  </ul>
  
  <hr/>

  <h1>Utlånat</h1>
  <ul>
    <li ng-repeat="interaction in incomingrequests">
      <tjing-interaction interaction="interaction" user="currentUser"></tjing-interaction>

      <div ng-show="!interaction.statusAccepted">
          <button ng-disabled="interaction.statusAccepted" ng-click="acceptRequest(interaction)"> 
            Acceptera
          </button>
          <button ng-disabled="interaction.statusAccepted" ng-click="denyRequest(interaction)">
            Neka
          </button>
        </div>
      <div ng-show="interaction.statusHandedOver && !interaction.statusReturned">
        <button ng-click="confirmReturn(interaction)">
          Bekräfta återlämning
        </button>
      </div>
    </li>
  </ul>
</div>