<div>
  <h1>Mina prylar</h1> 
  <div ng-hide="myItems && myItems.length >0">
    Du har inga prylar inlagda än.
  </div>
  <a href="#newitem">
    Lägg till en pryl
    <span class="glyphicon glyphicon-plus"></span>
  </a>
  <ul class="list-unstyled">
    <li ng-repeat="item in myItems" >
      <tjing-item item="item"></tjing-item>
      <button type="button" title="Delete" ng-click="deleteItem(item)">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
      <div ng-show="item.activeInteraction"> utlånad till <tjing-user user="item.activeInteraction.borrower"/> on {{item.activeInteraction.statusHandedOver | date}}</div>
    </li>
  </ul>     
</div>