<div>
    <h1>Mina prylar</h1> 
    <a href="#newitem">Lägg till en pryl</a>
    <div ng-hide="owneditems && owneditems.length >0">
      Du har inga prylar inlagda än. <a href="#newitem">Lägg till en pryl!</a>
    </div>
    <ul>
      <li ng-repeat="item in owneditems" >
        <tjing-item item="item"></tjing-item>
        <button type="button" title="Delete" ng-click="deleteItem(item)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <div ng-show="item.activeInteraction"> utlånad till <tjing-user user="item.activeInteraction.borrower"/> on {{item.activeInteraction.statusHandedOver | date}}</div>
      </li>
    </ul>     
    <hr />
      <li ng-repeat="item in borroweditems">
        <div>
          {{item.title}}, lånad av <tjing-user user="item.owner"/> {{item.activeInteraction.statusHandedOver | date}}
        </div>
      </li>
    </li>
  </ul>

  <h1>Tillgängliga prylar</h1>
    <ul>
      <li ng-repeat="item in items">
        <tjing-user user="item.owner"></tjing-user>'s <tjing-item item="item"></tjing-item>
        <button type="button" title="Request" ng-click="requestItem(item)">Request
        </button>
      </li>
    </ul>
</div>