<div>
  <h1>Mina prylar</h1> 
  <div ng-hide="myItems && myItems.length >0">
    Du har inga prylar inlagda än.
  </div>
  <a href="#newitem">
    <span class="glyphicon glyphicon-plus"></span>Lägg till en pryl
  </a>
  <ul class="list-unstyled">
    <li ng-repeat="item in myItems" >
      <tjing-item item="item"></tjing-item>
      
      <span ng-show="item.activeInteraction"><a ng-href="#interaction/{{item.activeInteraction.id}}">(Utlånad till {{item.activeInteraction.borrower.firstName}})</a></span>
      <button ng-hide="item.activeInteraction" type="button" title="Delete" ng-click="deleteItem(item)">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </li>
  </ul>     
</div>