<div>
  <h1>Mina grupper</h1>
  <p>
    <a href="#newpool"><span class="glyphicon glyphicon-plus"></span>Skapa ny grupp
    </a>
</p>
  
  <p><a href="#groupimport">Importera grupper från facebook</a></p>
  <div ng-hide="myMemberships && myMemberships.length >0">
    Du är inte medlem i någon grupp än. Gå med i en grupp eller skapa en egen.
  </div>
  <ul class="list-unstyled">
    <li ng-repeat="membership in myMemberships">
      <tjing-pool pool="membership.pool"></tjing-pool> ({{membership.pool.nbrMembers}} medlemmar/{{membership.pool.nbrShares}} prylar)
    </li>
  </ul>
  
  <hr/>

  <h2>Sök grupper</h2>
  <form ng-submit="searchPools()">
    <input type="text" ng-model="searchStr">
    <button type="submit" title="Sök"><span class="glyphicon glyphicon-search"></span></button>
  </form> 
  <div ng-show="searchResults">
    <h3>Sökresultat</h3>
    <ul class="list-unstyled">
      <li ng-repeat="result in searchResults">
      <tjing-pool pool=result></tjing-pool> ({{result.nbrMembers}} medlemmar/{{result.nbrShares}} prylar)
      </li>
    </ul> 
  </div>
</div>