<div class="form-group">
  <h3>Lägg till en ny pryl</h3>
  <form role="form" ng-submit="addItem(newItem)">
    <input class="form-control" type="text" ng-model="newItem.title" placeholder="Titel" required/>
    <br/>
    <input class="form-control" type="text" ng-model="newItem.category" typeahead="cat as cat.name for cat in categories($viewValue)" placeholder="Kategori" typeahead-wait-ms="60">
    <br>
    <textarea class="form-control" ng-model="newItem.description" placeholder="Beskrivning"></textarea>
    <br>    
    <button type="submit" ng-disabled="!newItem.title" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>Lägg till
    </button>
  </form>
</div>