<h3>Skapa ny grupp</h3>
<form ng-submit="createPool(newPool)" role="form">
  <div class="form-group">
    <input class="form-control" type="text" ng-model="newPool.title" placeholder="Namn" required></input>
    <br/>
    <textarea class="form-control" ng-model="newPool.description" placeholder="Beskrivning"></textarea>
    <br/>
    <select class="form-control" ng-model="newPool.privacy">
      <option value="OPEN">Öppen</option>
      <option value="CLOSED">Stängd</option>
      <option value="SECRET">Hemlig</option>
    </select>
    <button class="btn btn-default" type="submit" ng-disabled="!newPool.title">
      Skapa
    </button>
  </div>
</form>
