<div>
	<h1>{{currentPool.title}}</h1> 
	<a ng-show="currentPool.facebookId" ng-href="{{'http://www.facebook.com/groups/' + currentPool.facebookId}}">
	<img src="/social/facebook/FB-f-Logo__blue_29.png">
	</a>
	<p>{{currentPool.description}}</p>
	<p>{{currentPool.privacy}}</p>

	<p ng-show="myMembership && !myMembership.approved">Väntar på godkännande</p>
	<button class="btn btn-standard" ng-show="myMembership && myMembership.approved" ng-click="leavePool()">
		Lämna grupp
	</button>

	<button class="btn btn-standard" ng-show="!myMembership" ng-click="joinPool()">
		<span class="glypicon glyphicon-plus"></span>Gå med i grupp
	</button>

	<div ng-show="myMembership && myMembership.approved">
		<h2>Medlemmar</h2>
		<ul class="list-unstyled">
			<li ng-repeat="membership in memberships">
				<tjing-user user="membership.member"></tjing-user>
				<span>({{membership.role}})</span>
				<span ng-show="myMembership.role=='ADMIN' && membership.role!='ADMIN'">
					<button class="btn btn-standard" ng-click="makeAdmin(membership)">Ge admin</button>
					<button class="btn btn-standard" ng-click="kickMember(membership)">Ta bort</button>
				</span>
			</li>
		</ul>
		<div ng-show="myMembership.role=='ADMIN'">
			<h3>Medlemsförfrågningar</h3>
			<ul class="list-unstyled">
				<li ng-repeat="request in requests">
					<tjing-user user="request.member"></tjing-user> 
					<button class="btn btn-standard" ng-click="approveRequest(request)">Godkänn</button>
					<button class="btn btn-standard" ng-click="denyRequest(request)">Neka</button>
				</li>
			</ul>
		</div>	
		<h2>Delade prylar</h2>
		<ul class="list-unstyled">
			<li ng-repeat="share in shares">
				<tjing-item item="share.item"></tjing-item>
			</li>
		</ul>

		<h2>Dela dina prylar med {{currentPool.title}}</h2>
		<ul class="list-unstyled">
			<li ng-repeat="tuple in shareMap">
				<input type="checkbox" ng-model="tuple.isShared" ng-click="tuple.isShared ? addShare(tuple.item) : removeShare(tuple.share)">

				<tjing-item item="tuple.item"></tjing-item> 
				
			</li>
		</ul>
	</div>	
</div>