<div>
  <h1>All pools</h1><button ng-click="showPools=!showPools">show/hide</button>
  <div ng-show="showPools">
    <div ng-hide="allPools.length > 0">
      No pools exist yet. Add a pool!
    </div>
    <ul>
      <li ng-repeat="pool in allPools">
        {{pool.title}} ({{pool.privacy}}<div ng-hide="pool.privacy == 'OPEN'">, requires approval from {{pool.approval}})</div>
         <button type="button" ng-click="joinPool(pool)">Join</button>
      </li>
    </ul>
  </div>
  <hr />
  <h1>My pools</h1>
  <div ng-hide="myMemberships && myMemberships.length >0">
    You are not a member of any pools. Join a pool!
  </div>
  <ul>
    <li ng-repeat="membership in myMemberships">
      {{membership.pool.title}}
      <button type="button" ng-click="leavePool(membership)">Leave</button>
    </li>
  </ul>
  <hr/>
  <h1>Create pool</h1>
  <form role="form" ng-submit="createPool(newPool)">
    <input type="text" ng-model="newPool.title" placeholder="Enter pool name.." required/>
    <button type="submit" ng-disabled="!newPool.title" title="Add">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </form>

  <div ng-controller="FacebookImportController">
    <button ng-click="importFacebook()">Import facebook groups as Tjing pools</button>
  </div>

</div>