<div>
	<h3>{{currentPool.title}}</h3> 
	<a ng-show="currentPool.facebookId" ng-href="{{'http://www.facebook.com/groups/' + currentPool.facebookId}}">
	<img src="/social/facebook/FB-f-Logo__blue_29.png">
	</a>
	<p>{{currentPool.description}}</p>
	<p>{{currentPool.privacy}}</p>

	<p class="text-muted" ng-show="myMembership && !myMembership.approved">Väntar på godkännande</p>
	<button class="btn btn-default" ng-show="myMembership && myMembership.approved" ng-click="leavePool()">
		Lämna grupp
	</button>

	<button class="btn btn-default" ng-show="!myMembership" ng-click="joinPool()">
		<span class="glypicon glyphicon-plus"></span>Gå med i grupp
	</button>

	<div ng-show="myMembership && myMembership.approved">
		<h4>Medlemmar</h4>
		<ul class="list-unstyled">
			<li ng-repeat="membership in memberships">
				<tjing-user user="membership.member"></tjing-user>
				<span>({{membership.role}})</span>
				<span ng-show="myMembership.role=='ADMIN' && membership.role!='ADMIN'">
					<button class="btn btn-default" ng-click="makeAdmin(membership)">Ge admin</button>
					<button class="btn btn-default" ng-click="kickMember(membership)">Ta bort</button>
				</span>
			</li>
		</ul>
		<div ng-show="myMembership.role=='ADMIN' || currentPool.approval=='MEMBER'">
			<h3>Lägg till medlemmar</h3>
			<form role="form" name="inviteForm" class="form-inline">
				<div class="form-group">
				<input name="input" type="email" placeholder="Ange e-postadress" ng-model="invite.user.username" required class="form-control">
				</div>
				<button class="btn btn-default" ng-disabled="!inviteForm.input.$valid" ng-click="addUser()">Lägg till</button>
			</form>
		</div>
		<div ng-show="myMembership.role=='ADMIN'">
			

			<h4>Medlemsförfrågningar</h4>
			<ul class="list-unstyled">
				<li ng-repeat="request in requests">
					<tjing-user user="request.member"></tjing-user> 
					<button class="btn btn-default" ng-click="approveRequest(request)">Godkänn</button>
					<button class="btn btn-default" ng-click="denyRequest(request)">Neka</button>
				</li>
			</ul>
		</div>	
		<h4>Delade prylar</h4>
		<ul class="list-unstyled">
			<li ng-repeat="share in shares">
				<tjing-item item="share.item"></tjing-item>
			</li>
		</ul>

		<h4>Dela dina prylar med {{currentPool.title}}</h4>
		<ul class="list-unstyled">
			<li ng-repeat="tuple in shareMap">
				<input type="checkbox" ng-model="tuple.isShared" ng-click="tuple.isShared ? addShare(tuple.item) : removeShare(tuple.share)">

				<tjing-item item="tuple.item"></tjing-item> 
				
			</li>
		</ul>
	</div>	
</div>