<div>
  <h1>My item requests</h1>
  <div ng-hide="myRequests && myRequests.length>0">Du har inte gjort några förfrågningar</div>
  <ul>
    <li ng-repeat="request in myRequests">
      Du efterfrågade en {{request.text}}
    </li>
  </ul>
  <form role="form" ng-submit="postRequest(request)">
    <input type="text" ng-model="request.text" placeholder="What do you need?" required/>
    <button class="btn btn-standard" type="submit" ng-disabled="!request.text" title="Post request">
       <span class="glyphicon glyphicon-plus"></span>
    </button>
  </form>
</div>