<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout"
	  data-ng-app="">
	<head>
		<title>Spring Social Showcase</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
		<script src="/js/home.js"></script>
		<link rel="stylesheet" th:href="@{/page.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/form.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/messages/messages.css}" type="text/css" media="screen"></link>
	</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">Spring Social Showcase</a></h1>
		</div>
		
		<div id="leftNav">
			Left nav menu
		</div>
		
		<div id="content" layout:fragment="content">
			<p>Welcome, <span th:text="${person.firstName}">first-name</span>!</p>
			<div ng-controller = "Home">
			<h2>Prylar</h2>
			<div ng-repeat="item in items">
				{{item.id}} {{item.title}} 
			</div>
			
			<h2>Pooler</h2>
			<div ng-repeat="pool in pools">
				{{pool.id}} {{pool.title}}
			</div>
			</div>
			<form method="POST" th:action="@{/signout}">
				<!-- <input type="hidden" name="_csrf" th:value="${_csrf.token}" />  -->
				<button>Sign Out</button>
			</form>
		</div>		
	</body>
</html>
