<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Tjing</title>
		<link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css">
		</link>
		<link th:href="front.css" rel="stylesheet" type="text/css" media="screen"></link>		
	</head>
	<body>
		<div class="container">			
			<form class="form-signin" id="signup" th:action="@{/signup}" method="post" th:object="${signupForm}">
				<!--  <input type="hidden" name="_csrf" th:value="${_csrf.token}" /> -->
				<h2 class="form-signin-heading">Skapa nytt konto</h2>
				<div class="formInfo">
					<div class="error" th:if="${#fields.hasErrors('*')}">Kunde inte skapa konto. Vänligen åtgärda felen i formuläret och försök igen.</div>
				</div>
				
				<fieldset>
					<label for="firstName">Förnamn <span th:if="${#fields.hasErrors('firstName')}" class="error" th:text="${#fields.errors('firstName')[0]}">Fel</span></label>
					<input class="form-control" type="text" th:field="*{firstName}" />
					<label for="lastName">Efternamn <span th:if="${#fields.hasErrors('lastName')}" class="error" th:text="${#fields.errors('lastName')[0]}">Fel</span></label>
					<input class="form-control" type="text" th:field="*{lastName}" />
					<label for="username">E-post <span th:if="${#fields.hasErrors('username')}" class="error" th:text="${#fields.errors('username')[0]}">Fel</span></label>
					<input class="form-control" type="email" th:field="*{username}" />
					<label for="password">Lösenord <span th:if="${#fields.hasErrors('password')}" class="error" th:text="${#fields.errors('password')[0]}">Fel</span></label>
					<input class="form-control" type="password" th:field="*{password}" />
				</fieldset>
				<p><button class="btn btn-lg btn-primary btn-block" type="submit">Skapa konto</button></p>
			</form>
		</div>
	</body>
</html>

