<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  >
	<head>
		<title>Tjing</title>
		<link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css">
		</link>
		<link th:href="front.css" rel="stylesheet" type="text/css" media="screen"></link>
	</head>
	<body>		
		<div class="container">
			<form class="form-signin" id="signin" th:action="@{/signin/authenticate}" method="post">
				<!-- <input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>  -->
				<h2 class="form-signin-heading">Logga in</h2>
				
				<div class="error" th:if="${param.error eq 'bad_credentials'}">
			  		Felaktiga inloggningsuppgifter. Vänligen försök igen eller <a href="/signup">skapa nytt konto</a>.
				</div>
				
				<fieldset>
					<label class="sr-only" for="login">E-post</label>
					<input placeholder="E-postadress" class="form-control" id="login" name="username" type="text"></input>
					<label class="sr-only" for="password">Lösenord</label>
					<input placeholder="Lösenord" class="form-control" id="password" name="password" type="password"></input>
				</fieldset>
				<button  class="btn btn-lg btn-primary btn-block" type="submit">Logga in</button>
			</form>
		
			<!-- FACEBOOK SIGNIN -->
			<form class="form-signin" name="fb_signin" id="fb_signin" action="/signin/facebook" method="POST">
<!-- 				<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input> -->
				<input class="form-control" type="hidden" name="scope" value="user_groups"></input>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Logga in med facebook</button>
			</form>
		
			<p class="form-signin"><a href="/signup">Skapa nytt konto</a></p>
		</div>		
	</body>
</html>
